In [31]:
import numpy as np
import pandas as pd
! pip install bitfinex-tencars -q
import bitfinex
from datetime import datetime

In [32]:
# Create api instance of the v2 API
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [33]:
result = api_v2.candles()
print(len(result))

1000

In [34]:
import bitfinex
import datetime
import time
import pandas as pd

# Define query parameters
pair = 'BTCUSD' # Currency pair of interest
TIMEFRAME = '1h'#,'4h','1h','15m','1m'
TIMEFRAME_S = 3600 # seconds in TIMEFRAME

# Define the start date
t_start = datetime.datetime(2013, 4, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2023, 10, 12, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

def fetch_data(start, stop, symbol, interval, TIMEFRAME_S):
    limit = 1000    # We want the maximum of 1000 data points
    # Create api instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    hour = TIMEFRAME_S * 1000
    step = hour * limit
    data = []

    total_steps = (stop-start)/hour
    while total_steps > 0:
        if total_steps < limit: # recalculating ending steps
            step = total_steps * hour

        end = start + step
        data += api_v2.candles(symbol=symbol, interval=interval, limit=limit, start=start, end=end)
        print(pd.to_datetime(start, unit='ms'), pd.to_datetime(end, unit='ms'), "steps left:", total_steps)
        start = start + step
        total_steps -= limit
        time.sleep(1.5)
    return data

result = fetch_data(t_start, t_stop, pair, TIMEFRAME, TIMEFRAME_S)
names = ['Date', 'Open', 'Close', 'High', 'Low', 'Volume']
#df = pd.DataFrame(result, columns=names)
#df.drop_duplicates(inplace=True)
#df['Date'] = pd.to_datetime(df['Date'], unit='ms')
#df.set_index('Date', inplace=True)
#df.sort_index(inplace=True)
#df.to_csv(f"{pair}_{TIMEFRAME}.csv")

No keys, only access to public API functions
2013-03-31 21:00:00 2013-05-12 13:00:00 steps left: 92304.0
2013-05-12 13:00:00 2013-06-23 05:00:00 steps left: 91304.0
2013-06-23 05:00:00 2013-08-03 21:00:00 steps left: 90304.0
2013-08-03 21:00:00 2013-09-14 13:00:00 steps left: 89304.0
2013-09-14 13:00:00 2013-10-26 05:00:00 steps left: 88304.0
2013-10-26 05:00:00 2013-12-06 21:00:00 steps left: 87304.0
2013-12-06 21:00:00 2014-01-17 13:00:00 steps left: 86304.0
2014-01-17 13:00:00 2014-02-28 05:00:00 steps left: 85304.0
2014-02-28 05:00:00 2014-04-10 21:00:00 steps left: 84304.0
2014-04-10 21:00:00 2014-05-22 13:00:00 steps left: 83304.0
2014-05-22 13:00:00 2014-07-03 05:00:00 steps left: 82304.0
2014-07-03 05:00:00 2014-08-13 21:00:00 steps left: 81304.0
2014-08-13 21:00:00 2014-09-24 13:00:00 steps left: 80304.0
2014-09-24 13:00:00 2014-11-05 05:00:00 steps left: 79304.0
2014-11-05 05:00:00 2014-12-16 21:00:00 steps left: 78304.0
2014-12-16 21:00:00 2015-01-27 13:00:00 steps left: 77304.0
2015-01-27 13:00:00 2015-03-10 05:00:00 steps left: 76304.0
2015-03-10 05:00:00 2015-04-20 21:00:00 steps left: 75304.0
2015-04-20 21:00:00 2015-06-01 13:00:00 steps left: 74304.0
2015-06-01 13:00:00 2015-07-13 05:00:00 steps left: 73304.0
2015-07-13 05:00:00 2015-08-23 21:00:00 steps left: 72304.0
2015-08-23 21:00:00 2015-10-04 13:00:00 steps left: 71304.0
2015-10-04 13:00:00 2015-11-15 05:00:00 steps left: 70304.0
2015-11-15 05:00:00 2015-12-26 21:00:00 steps left: 69304.0
2015-12-26 21:00:00 2016-02-06 13:00:00 steps left: 68304.0
2016-02-06 13:00:00 2016-03-19 05:00:00 steps left: 67304.0
2016-03-19 05:00:00 2016-04-29 21:00:00 steps left: 66304.0
2016-04-29 21:00:00 2016-06-10 13:00:00 steps left: 65304.0
2016-06-10 13:00:00 2016-07-22 05:00:00 steps left: 64304.0
2016-07-22 05:00:00 2016-09-01 21:00:00 steps left: 63304.0
2016-09-01 21:00:00 2016-10-13 13:00:00 steps left: 62304.0
2016-10-13 13:00:00 2016-11-24 05:00:00 steps left: 61304.0
2016-11-24 05:00:00 2017-01-04 21:00:00 steps left: 60304.0
2017-01-04 21:00:00 2017-02-15 13:00:00 steps left: 59304.0
2017-02-15 13:00:00 2017-03-29 05:00:00 steps left: 58304.0
2017-03-29 05:00:00 2017-05-09 21:00:00 steps left: 57304.0
2017-05-09 21:00:00 2017-06-20 13:00:00 steps left: 56304.0
2017-06-20 13:00:00 2017-08-01 05:00:00 steps left: 55304.0
2017-08-01 05:00:00 2017-09-11 21:00:00 steps left: 54304.0
2017-09-11 21:00:00 2017-10-23 13:00:00 steps left: 53304.0
2017-10-23 13:00:00 2017-12-04 05:00:00 steps left: 52304.0
2017-12-04 05:00:00 2018-01-14 21:00:00 steps left: 51304.0
2018-01-14 21:00:00 2018-02-25 13:00:00 steps left: 50304.0
2018-02-25 13:00:00 2018-04-08 05:00:00 steps left: 49304.0
2018-04-08 05:00:00 2018-05-19 21:00:00 steps left: 48304.0
2018-05-19 21:00:00 2018-06-30 13:00:00 steps left: 47304.0
2018-06-30 13:00:00 2018-08-11 05:00:00 steps left: 46304.0
2018-08-11 05:00:00 2018-09-21 21:00:00 steps left: 45304.0
2018-09-21 21:00:00 2018-11-02 13:00:00 steps left: 44304.0
2018-11-02 13:00:00 2018-12-14 05:00:00 steps left: 43304.0
2018-12-14 05:00:00 2019-01-24 21:00:00 steps left: 42304.0
2019-01-24 21:00:00 2019-03-07 13:00:00 steps left: 41304.0
2019-03-07 13:00:00 2019-04-18 05:00:00 steps left: 40304.0
2019-04-18 05:00:00 2019-05-29 21:00:00 steps left: 39304.0
2019-05-29 21:00:00 2019-07-10 13:00:00 steps left: 38304.0
2019-07-10 13:00:00 2019-08-21 05:00:00 steps left: 37304.0
2019-08-21 05:00:00 2019-10-01 21:00:00 steps left: 36304.0
2019-10-01 21:00:00 2019-11-12 13:00:00 steps left: 35304.0
2019-11-12 13:00:00 2019-12-24 05:00:00 steps left: 34304.0
2019-12-24 05:00:00 2020-02-03 21:00:00 steps left: 33304.0
2020-02-03 21:00:00 2020-03-16 13:00:00 steps left: 32304.0
2020-03-16 13:00:00 2020-04-27 05:00:00 steps left: 31304.0
2020-04-27 05:00:00 2020-06-07 21:00:00 steps left: 30304.0
2020-06-07 21:00:00 2020-07-19 13:00:00 steps left: 29304.0
2020-07-19 13:00:00 2020-08-30 05:00:00 steps left: 28304.0
2020-08-30 05:00:00 2020-10-10 21:00:00 steps left: 27304.0
2020-10-10 21:00:00 2020-11-21 13:00:00 steps left: 26304.0
2020-11-21 13:00:00 2021-01-02 05:00:00 steps left: 25304.0
2021-01-02 05:00:00 2021-02-12 21:00:00 steps left: 24304.0
2021-02-12 21:00:00 2021-03-26 13:00:00 steps left: 23304.0
2021-03-26 13:00:00 2021-05-07 05:00:00 steps left: 22304.0
2021-05-07 05:00:00 2021-06-17 21:00:00 steps left: 21304.0
2021-06-17 21:00:00 2021-07-29 13:00:00 steps left: 20304.0
2021-07-29 13:00:00 2021-09-09 05:00:00 steps left: 19304.0
2021-09-09 05:00:00 2021-10-20 21:00:00 steps left: 18304.0
2021-10-20 21:00:00 2021-12-01 13:00:00 steps left: 17304.0
2021-12-01 13:00:00 2022-01-12 05:00:00 steps left: 16304.0
2022-01-12 05:00:00 2022-02-22 21:00:00 steps left: 15304.0
2022-02-22 21:00:00 2022-04-05 13:00:00 steps left: 14304.0
2022-04-05 13:00:00 2022-05-17 05:00:00 steps left: 13304.0
2022-05-17 05:00:00 2022-06-27 21:00:00 steps left: 12304.0
2022-06-27 21:00:00 2022-08-08 13:00:00 steps left: 11304.0
2022-08-08 13:00:00 2022-09-19 05:00:00 steps left: 10304.0
2022-09-19 05:00:00 2022-10-30 21:00:00 steps left: 9304.0
2022-10-30 21:00:00 2022-12-11 13:00:00 steps left: 8304.0
2022-12-11 13:00:00 2023-01-22 05:00:00 steps left: 7304.0
2023-01-22 05:00:00 2023-03-04 21:00:00 steps left: 6304.0
2023-03-04 21:00:00 2023-04-15 13:00:00 steps left: 5304.0
2023-04-15 13:00:00 2023-05-27 05:00:00 steps left: 4304.0
2023-05-27 05:00:00 2023-07-07 21:00:00 steps left: 3304.0
2023-07-07 21:00:00 2023-08-18 13:00:00 steps left: 2304.0
2023-08-18 13:00:00 2023-09-29 05:00:00 steps left: 1304.0
2023-09-29 05:00:00 2023-10-11 21:00:00 steps left: 304.0

In [35]:
df = pd.DataFrame(columns = names)

In [36]:
for i in result:
    df.loc[len(df.index)] = i

In [37]:
df

,Date,Open,Close,High,Low,Volume
0,1368363600000.0,113.8,114.55,114.55,113.521,1.862183
1,1368360000000.0,115.96,115.5,115.96,113.22,367.788068
2,1368356400000.0,115.0,115.44,115.95,115.0,50.171029
3,1368352800000.0,116.92,115.46,116.999,114.873,188.735809
4,1368349200000.0,117.0,117.0,117.0,116.2,11.51644
...,...,...,...,...,...,...
45827,11010,11010,11010,11010,11010,11010
45828,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error
45829,error,error,error,error,error,error
45830,11010,11010,11010,11010,11010,11010
45831,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error

In [20]:
#df.drop_duplicates(inplace=True)

In [38]:
df = df[df['Date'] != 'error']
df = df[df['Date'] != 11010]
df = df[df['Date'] != 'ratelimit: error']

In [22]:
#df = df.head(len(df)-3)

In [39]:
df['Date'] = pd.to_datetime(df['Date'], unit = 'ms') #2023-09-02 13:00:00
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)
df.to_csv(f"{pair}_{TIMEFRAME}.csv")

In [40]:
df

                         Open     Close      High       Low      Volume
Date
2013-03-31 23:00:00      93.2    93.033     93.29      92.9    116.0018
2013-04-01 00:00:00     93.25      93.1     100.0     93.03  345.583889
2013-04-01 01:00:00  93.37999      93.1  93.48797      93.1   45.243335
2013-04-01 02:00:00     93.17     93.74      94.0  93.10999   466.31142
2013-04-01 03:00:00      93.8  92.70002      93.8  92.49999    96.31618
...                       ...       ...       ...       ...         ...
2018-06-30 09:00:00    6398.6    6409.6    6417.2    6381.1  916.726681
2018-06-30 10:00:00    6409.6    6384.9    6419.0    6380.0  417.188507
2018-06-30 11:00:00    6384.9    6398.2    6408.8    6384.7  165.508405
2018-06-30 12:00:00    6398.2    6396.0    6449.2    6388.0  643.934942
2018-06-30 13:00:00    6396.1    6398.1    6406.5    6392.5  196.593452

[45691 rows x 5 columns]