In [1]:
import numpy as np
import pandas as pd
! pip install bitfinex-tencars -q
import bitfinex
from datetime import datetime

C:\Users\user\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\user\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
# Create api instance of the v2 API
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [3]:
result = api_v2.candles()
print(len(result))

1000

In [4]:
import bitfinex
import datetime
import time
import pandas as pd

# Define query parameters
pair = 'BTCUSD' # Currency pair of interest
TIMEFRAME = '1h'#,'4h','1h','15m','1m'
TIMEFRAME_S = 3600 # seconds in TIMEFRAME

# Define the start date
t_start = datetime.datetime(2013, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000

# Define the end date
t_stop = datetime.datetime(2023, 10, 12, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000

def fetch_data(start, stop, symbol, interval, TIMEFRAME_S):
    limit = 1000    # We want the maximum of 1000 data points
    # Create api instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    hour = TIMEFRAME_S * 1000
    step = hour * limit
    data = []

    total_steps = (stop-start)/hour
    while total_steps > 0:
        if total_steps < limit: # recalculating ending steps
            step = total_steps * hour

        end = start + step
        data += api_v2.candles(symbol=symbol, interval=interval, limit=limit, start=start, end=end)
        print(pd.to_datetime(start, unit='ms'), pd.to_datetime(end, unit='ms'), "steps left:", total_steps)
        start = start + step
        total_steps -= limit
        time.sleep(1.5)
    return data

result = fetch_data(t_start, t_stop, pair, TIMEFRAME, TIMEFRAME_S)
names = ['Date', 'Open', 'Close', 'High', 'Low', 'Volume']
#df = pd.DataFrame(result, columns=names)
#df.drop_duplicates(inplace=True)
#df['Date'] = pd.to_datetime(df['Date'], unit='ms')
#df.set_index('Date', inplace=True)
#df.sort_index(inplace=True)
#df.to_csv(f"{pair}_{TIMEFRAME}.csv")

No keys, only access to public API functions
2009-12-31 21:00:00 2010-02-11 13:00:00 steps left: 120768.0
2010-02-11 13:00:00 2010-03-25 05:00:00 steps left: 119768.0
2010-03-25 05:00:00 2010-05-05 21:00:00 steps left: 118768.0
2010-05-05 21:00:00 2010-06-16 13:00:00 steps left: 117768.0
2010-06-16 13:00:00 2010-07-28 05:00:00 steps left: 116768.0
2010-07-28 05:00:00 2010-09-07 21:00:00 steps left: 115768.0
2010-09-07 21:00:00 2010-10-19 13:00:00 steps left: 114768.0
2010-10-19 13:00:00 2010-11-30 05:00:00 steps left: 113768.0
2010-11-30 05:00:00 2011-01-10 21:00:00 steps left: 112768.0
2011-01-10 21:00:00 2011-02-21 13:00:00 steps left: 111768.0
2011-02-21 13:00:00 2011-04-04 05:00:00 steps left: 110768.0
2011-04-04 05:00:00 2011-05-15 21:00:00 steps left: 109768.0
2011-05-15 21:00:00 2011-06-26 13:00:00 steps left: 108768.0
2011-06-26 13:00:00 2011-08-07 05:00:00 steps left: 107768.0
2011-08-07 05:00:00 2011-09-17 21:00:00 steps left: 106768.0
2011-09-17 21:00:00 2011-10-29 13:00:00 steps left: 105768.0
2011-10-29 13:00:00 2011-12-10 05:00:00 steps left: 104768.0
2011-12-10 05:00:00 2012-01-20 21:00:00 steps left: 103768.0
2012-01-20 21:00:00 2012-03-02 13:00:00 steps left: 102768.0
2012-03-02 13:00:00 2012-04-13 05:00:00 steps left: 101768.0
2012-04-13 05:00:00 2012-05-24 21:00:00 steps left: 100768.0
2012-05-24 21:00:00 2012-07-05 13:00:00 steps left: 99768.0
2012-07-05 13:00:00 2012-08-16 05:00:00 steps left: 98768.0
2012-08-16 05:00:00 2012-09-26 21:00:00 steps left: 97768.0
2012-09-26 21:00:00 2012-11-07 13:00:00 steps left: 96768.0
2012-11-07 13:00:00 2012-12-19 05:00:00 steps left: 95768.0
2012-12-19 05:00:00 2013-01-29 21:00:00 steps left: 94768.0
2013-01-29 21:00:00 2013-03-12 13:00:00 steps left: 93768.0
2013-03-12 13:00:00 2013-04-23 05:00:00 steps left: 92768.0
2013-04-23 05:00:00 2013-06-03 21:00:00 steps left: 91768.0
2013-06-03 21:00:00 2013-07-15 13:00:00 steps left: 90768.0
2013-07-15 13:00:00 2013-08-26 05:00:00 steps left: 89768.0
2013-08-26 05:00:00 2013-10-06 21:00:00 steps left: 88768.0
2013-10-06 21:00:00 2013-11-17 13:00:00 steps left: 87768.0
2013-11-17 13:00:00 2013-12-29 05:00:00 steps left: 86768.0
2013-12-29 05:00:00 2014-02-08 21:00:00 steps left: 85768.0
2014-02-08 21:00:00 2014-03-22 13:00:00 steps left: 84768.0
2014-03-22 13:00:00 2014-05-03 05:00:00 steps left: 83768.0
2014-05-03 05:00:00 2014-06-13 21:00:00 steps left: 82768.0
2014-06-13 21:00:00 2014-07-25 13:00:00 steps left: 81768.0
2014-07-25 13:00:00 2014-09-05 05:00:00 steps left: 80768.0
2014-09-05 05:00:00 2014-10-16 21:00:00 steps left: 79768.0
2014-10-16 21:00:00 2014-11-27 13:00:00 steps left: 78768.0
2014-11-27 13:00:00 2015-01-08 05:00:00 steps left: 77768.0
2015-01-08 05:00:00 2015-02-18 21:00:00 steps left: 76768.0
2015-02-18 21:00:00 2015-04-01 13:00:00 steps left: 75768.0
2015-04-01 13:00:00 2015-05-13 05:00:00 steps left: 74768.0
2015-05-13 05:00:00 2015-06-23 21:00:00 steps left: 73768.0
2015-06-23 21:00:00 2015-08-04 13:00:00 steps left: 72768.0
2015-08-04 13:00:00 2015-09-15 05:00:00 steps left: 71768.0
2015-09-15 05:00:00 2015-10-26 21:00:00 steps left: 70768.0
2015-10-26 21:00:00 2015-12-07 13:00:00 steps left: 69768.0
2015-12-07 13:00:00 2016-01-18 05:00:00 steps left: 68768.0
2016-01-18 05:00:00 2016-02-28 21:00:00 steps left: 67768.0
2016-02-28 21:00:00 2016-04-10 13:00:00 steps left: 66768.0
2016-04-10 13:00:00 2016-05-22 05:00:00 steps left: 65768.0
2016-05-22 05:00:00 2016-07-02 21:00:00 steps left: 64768.0
2016-07-02 21:00:00 2016-08-13 13:00:00 steps left: 63768.0
2016-08-13 13:00:00 2016-09-24 05:00:00 steps left: 62768.0
2016-09-24 05:00:00 2016-11-04 21:00:00 steps left: 61768.0
2016-11-04 21:00:00 2016-12-16 13:00:00 steps left: 60768.0
2016-12-16 13:00:00 2017-01-27 05:00:00 steps left: 59768.0
2017-01-27 05:00:00 2017-03-09 21:00:00 steps left: 58768.0
2017-03-09 21:00:00 2017-04-20 13:00:00 steps left: 57768.0
2017-04-20 13:00:00 2017-06-01 05:00:00 steps left: 56768.0
2017-06-01 05:00:00 2017-07-12 21:00:00 steps left: 55768.0
2017-07-12 21:00:00 2017-08-23 13:00:00 steps left: 54768.0
2017-08-23 13:00:00 2017-10-04 05:00:00 steps left: 53768.0
2017-10-04 05:00:00 2017-11-14 21:00:00 steps left: 52768.0
2017-11-14 21:00:00 2017-12-26 13:00:00 steps left: 51768.0
2017-12-26 13:00:00 2018-02-06 05:00:00 steps left: 50768.0
2018-02-06 05:00:00 2018-03-19 21:00:00 steps left: 49768.0
2018-03-19 21:00:00 2018-04-30 13:00:00 steps left: 48768.0
2018-04-30 13:00:00 2018-06-11 05:00:00 steps left: 47768.0
2018-06-11 05:00:00 2018-07-22 21:00:00 steps left: 46768.0
2018-07-22 21:00:00 2018-09-02 13:00:00 steps left: 45768.0
2018-09-02 13:00:00 2018-10-14 05:00:00 steps left: 44768.0
2018-10-14 05:00:00 2018-11-24 21:00:00 steps left: 43768.0
2018-11-24 21:00:00 2019-01-05 13:00:00 steps left: 42768.0
2019-01-05 13:00:00 2019-02-16 05:00:00 steps left: 41768.0
2019-02-16 05:00:00 2019-03-29 21:00:00 steps left: 40768.0
2019-03-29 21:00:00 2019-05-10 13:00:00 steps left: 39768.0
2019-05-10 13:00:00 2019-06-21 05:00:00 steps left: 38768.0
2019-06-21 05:00:00 2019-08-01 21:00:00 steps left: 37768.0
2019-08-01 21:00:00 2019-09-12 13:00:00 steps left: 36768.0
2019-09-12 13:00:00 2019-10-24 05:00:00 steps left: 35768.0
2019-10-24 05:00:00 2019-12-04 21:00:00 steps left: 34768.0
2019-12-04 21:00:00 2020-01-15 13:00:00 steps left: 33768.0
2020-01-15 13:00:00 2020-02-26 05:00:00 steps left: 32768.0
2020-02-26 05:00:00 2020-04-07 21:00:00 steps left: 31768.0
2020-04-07 21:00:00 2020-05-19 13:00:00 steps left: 30768.0
2020-05-19 13:00:00 2020-06-30 05:00:00 steps left: 29768.0
2020-06-30 05:00:00 2020-08-10 21:00:00 steps left: 28768.0
2020-08-10 21:00:00 2020-09-21 13:00:00 steps left: 27768.0
2020-09-21 13:00:00 2020-11-02 05:00:00 steps left: 26768.0
2020-11-02 05:00:00 2020-12-13 21:00:00 steps left: 25768.0
2020-12-13 21:00:00 2021-01-24 13:00:00 steps left: 24768.0
2021-01-24 13:00:00 2021-03-07 05:00:00 steps left: 23768.0
2021-03-07 05:00:00 2021-04-17 21:00:00 steps left: 22768.0
2021-04-17 21:00:00 2021-05-29 13:00:00 steps left: 21768.0
2021-05-29 13:00:00 2021-07-10 05:00:00 steps left: 20768.0
2021-07-10 05:00:00 2021-08-20 21:00:00 steps left: 19768.0
2021-08-20 21:00:00 2021-10-01 13:00:00 steps left: 18768.0
2021-10-01 13:00:00 2021-11-12 05:00:00 steps left: 17768.0
2021-11-12 05:00:00 2021-12-23 21:00:00 steps left: 16768.0
2021-12-23 21:00:00 2022-02-03 13:00:00 steps left: 15768.0
2022-02-03 13:00:00 2022-03-17 05:00:00 steps left: 14768.0
2022-03-17 05:00:00 2022-04-27 21:00:00 steps left: 13768.0
2022-04-27 21:00:00 2022-06-08 13:00:00 steps left: 12768.0
2022-06-08 13:00:00 2022-07-20 05:00:00 steps left: 11768.0
2022-07-20 05:00:00 2022-08-30 21:00:00 steps left: 10768.0
2022-08-30 21:00:00 2022-10-11 13:00:00 steps left: 9768.0
2022-10-11 13:00:00 2022-11-22 05:00:00 steps left: 8768.0
2022-11-22 05:00:00 2023-01-02 21:00:00 steps left: 7768.0
2023-01-02 21:00:00 2023-02-13 13:00:00 steps left: 6768.0
2023-02-13 13:00:00 2023-03-27 05:00:00 steps left: 5768.0
2023-03-27 05:00:00 2023-05-07 21:00:00 steps left: 4768.0
2023-05-07 21:00:00 2023-06-18 13:00:00 steps left: 3768.0
2023-06-18 13:00:00 2023-07-30 05:00:00 steps left: 2768.0
2023-07-30 05:00:00 2023-09-09 21:00:00 steps left: 1768.0
2023-09-09 21:00:00 2023-10-11 21:00:00 steps left: 768.0

In [5]:
df = pd.DataFrame(columns = names)

In [6]:
for i in result:
    df.loc[len(df.index)] = i

In [7]:
df

,Date,Open,Close,High,Low,Volume
0,1366693200000.0,128.5,127.5,128.5,127.445,40.415135
1,1366689600000.0,128.0,127.5,128.48,127.068,47.138414
2,1366686000000.0,128.851,128.01,129.5,126.5,196.0284
3,1366682400000.0,127.612,128.08,128.5,126.81,95.180567
4,1366678800000.0,126.76,127.596,128.0,126.561,113.936068
...,...,...,...,...,...,...
10670,11010,11010,11010,11010,11010,11010
10671,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error
10672,error,error,error,error,error,error
10673,11010,11010,11010,11010,11010,11010
10674,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error,ratelimit: error

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df = df[df['Date'] != 'error']
df = df[df['Date'] != 11010]
df = df[df['Date'] != 'ratelimit: error']

In [10]:
#df = df.head(len(df)-3)

In [11]:
df['Date'] = pd.to_datetime(df['Date'], unit = 'ms') #2023-09-02 13:00:00
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)
df.to_csv(f"{pair}_{TIMEFRAME}.csv")

In [12]:
df

                         Open     Close      High       Low      Volume
Date
2013-03-31 23:00:00      93.2    93.033     93.29      92.9    116.0018
2013-04-01 00:00:00     93.25      93.1     100.0     93.03  345.583889
2013-04-01 01:00:00  93.37999      93.1  93.48797      93.1   45.243335
2013-04-01 02:00:00     93.17     93.74      94.0  93.10999   466.31142
2013-04-01 03:00:00      93.8  92.70002      93.8  92.49999    96.31618
...                       ...       ...       ...       ...         ...
2014-06-13 17:00:00     598.9    601.77     603.6     597.0  631.845658
2014-06-13 18:00:00     602.0    596.21    604.77     596.2  377.481585
2014-06-13 19:00:00    596.22     600.0     600.0    595.56  413.423722
2014-06-13 20:00:00     600.5     601.7     604.5    598.14  341.696787
2014-06-13 21:00:00    602.01    603.72    604.58    598.61  240.493204

[10422 rows x 5 columns]

In [ ]:
df.to_csv('btcusd.csv')